{% extends "base.html" %} {% block content %}
<head>
      <!-- Adding jquery -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
      <script>
        $(document).ready(function () {
    $('#myTable').DataTable();
});
      </script>
      
</head>
  <body>
    <div class="container"><p></p>
      <h1 align="center">Display Database</h1></p>
        <div class="table-wrapper">
            
            <table id="myTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                  {% for firstName, lastName in records_list %}   
                    <tr>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                    </tr>   
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div> 
    {% endblock %} 
  </body>

